<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/bio">Bio</a></li>
	        		<li><a href="/projects">Projects</a></li>
				<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
				
			 <div class="navbar">
  <a href="#home">Home</a>
  <a href="#bio"></a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#Work">Link 1</a>
      <a href="#Education">Link 2</a>
      <a href="#Awards, Grants, and Achievements">Link 3</a>
    </div>
  </div>
</div> 
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:heiditaylorcaudill@gmail.com">email</a></li>
	        		<li><a href="https://github.com/heiditaylorcaudill">github.com/heiditaylorcaudill</a></li>
				</ul>
			</footer>
		</body>
	</html>
